<div class="menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-5" routerLink="" (click)="homeScreen()">Arsaev Corp.</a>
    <div>
      <a class="fa fa-heart-o nav-link favourite-collapse" href="#"></a>
      <button class="navbar-toggler" type="button" (click)="toggleDropdown(drMenu)" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse mr-5" #drMenu id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Eigen Design
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" #products (click)="toggleMenu('products')">
          <a class="nav-link">Produkte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inspiration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Über Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Showroom</a>
        </li>
      </ul>
      <a class="fa fa-heart-o nav-link favourite" href="#"></a>
    </div>
  </nav>
</div>
<div [@slideInOut]="menuState" class="dropdown-bar">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 mr-5">
          <ul class="dr-list">
            <li class="dropdown-item">
              <span>Regale</span>
            </li>
            <li *ngFor="let dr of drRegale" (click)="toggleMenu('articles')" class="dropdown-item">
              <span>{{dr}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 mr-4">
          <ul class="dr-list">
            <li class="dropdown-item">
              <span>Schränke</span>
            </li>
            <li *ngFor="let dr of drSchraenke" (click)="toggleMenu('articles')" class="dropdown-item">
              <span>{{dr}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 mr-4">
          <ul class="dr-list">
            <li class="dropdown-item">
              <span>Sofas & Sessel</span>
            </li>
            <li *ngFor="let dr of drSofSess" (click)="toggleMenu('articles')" class="dropdown-item">
              <span>{{dr}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 mr-4">
          <ul class="dr-list">
            <li class="dropdown-item">
              <span>Tische</span>
            </li>
            <li *ngFor="let dr of drTische" (click)="toggleMenu('articles')" class="dropdown-item">
              <span>{{dr}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <ul class="dr-list">
            <li class="dropdown-item">
              <span>Stühle</span>
            </li>
            <li *ngFor="let dr of drStuehle" (click)="toggleMenu('articles')" class="dropdown-item">
              <span>{{dr}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>