<div class="textbar">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <i class="fa fa-pencil"></i>
          <div class="text-b">GRENZENLOS GESTALTEN</div>
        </div>
        <div class="text-m">
          Ob schlicht oder extravagant, klein oder groß,
          <br> zum Arbeiten oder als Deko: Entwirf dein
          <br> individuelles Möbelstück!
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fa fa-home"></i>
          <div class="text-b">BESTE QUALITÄT & FAIRE PREISE</div>
        </div>
        <div class="text-m">
          Schön und schnell: Nach der Bestellung ist dein Möbelstück innerhalb
          <br>kürzester Zeit bei dir. Und wird auf Wunsch sogar aufgebaut.
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fa fa-envelope-o"></i>
          <div class="text-b">KOSTENLOSE LIEFERUNG SOFORT</div>
        </div>
        <div class="text-m">
          MaksiMebel bietet dir minimalistisches Design
          <br>und hochwertige Materialien zu bezahlbaren
          <br> Preisen.
        </div>
      </div>
    </div>
  </div>
</div>