.p-text {
    font-family: MaisonNeue-Book, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 2.2rem;
    letter-spacing: 0.056rem;
    color: #373737;

    @media (max-width: 992px) {
        font-size: 12px
    }

    .row {
        margin-left: 8px;
        margin-right: 8px;
        
        .p-name {
            margin-right: auto;
        }
        .mass {
            font-size: 12px;
            margin-right: auto;
            line-height: 1.2rem;

            @media (max-width: 992px) {
                font-size: 10px;
            }
        }
        .d-name {
            color: #c0b283;
            border-bottom: 1px solid #c0b283;
            text-transform: uppercase;
            line-height: 1.5rem;
            font-weight: 600;
        }
        .text-deko {
            margin-top: 18px;
            line-height: 30px;
        }

        .fa {
            padding-left: 20px;

            @media (max-width: 992px) {
                padding-left: 0px;
            }
            @media (max-width: 768px) {
                padding-left: 10px;
            }
        }
    }
}

.responsive-width {        
    width: 270px;
    
    @media (max-width: 992px) {
        width: 200px;
    }

    @media (max-width: 768px) {
        width: 160px;
    }
}