<div class="col-12">
  <div class="row">
    <app-presentation imgFolderPath="{{imgFolder}}"></app-presentation>
  </div>
</div>
    <app-textbar></app-textbar>
<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <app-product showDetails="true" articleImg="./assets/home/articles/wardrobe.jpg"></app-product>
      </div>
      <div class="col-lg-4">
        <app-product showDetails="true" articleImg="./assets/home/articles/table.jpg"></app-product>
      </div>
      <div class="col-lg-4">
        <app-product showDetails="true" articleImg="./assets/home/articles/ward_square.jpg"></app-product>
      </div>
    </div>
    <p class="text-center mt-5 mb-5 part-header">BELIEBTESTE KATEGORIEN</p>
    <div class="row">
      <div class="col-lg-6">
        <app-product showDescription="true" descTitel="Sofas" imgWidth="530" articleImg="./assets/home/articles/sofas.jpg"></app-product>
      </div>
      <div class="col-lg-6">
        <app-product showDescription="true" descTitel="Kleiderschränke" imgWidth="530" articleImg="./assets/home/articles/wardrobes.jpg"></app-product>
      </div>
    </div>
  </div>
</div>